[[inputs.huawei_hilink]]
	# List of devices
	DevicesAddress = ["http://192.168.8.1"] # require
	[[inputs.huawei_hilink.module]]
		Url = "api/device/signal"
		Fields = ["pci", "rsrq", "rsrp", "rssi", "sinr" ]
	[[inputs.huawei_hilink.module]]
		Url = "api/monitoring/status"
		Fields = [ "CurrentNetworkType", "CurrentNetworkTypeEx", "ConnectionStatus", "maxsignal", "SignalIcon"]
	[[inputs.huawei_hilink.module]]
		Url = "api/device/information"
		Fields = ["DeviceName"]
		Is_tag = true
	[[inputs.huawei_hilink.module]]	
		Url = "api/monitoring/traffic-statistics"
		Fields = ["TotalUpload", "TotalDownload" ]
	[[inputs.huawei_hilink.module]]
		Url = "api/monitoring/month_statistics"
		Fields = ["CurrentMonthDownload", "CurrentMonthUpload"]
	